<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Command Robot</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

 
 Enter chained commands in the order you would like the robot to chain them:<br><br>

  <form>
    <select id="addcommand">
      <option>wakeUp</option>
      <option>findTrash</option>
      <option>pickupTrash</option>
      <option>changeBabyDiapers</option>
      <option>makeDinner</option>
      <option>shutDown</option>
    </select>
    <button onclick="addCommand(getElementById('addcommand').value); return false;">Add Command</button>
    <br><br>
    Queued Commands:<br><br>
    <div id="robot">robot.</div><div id="showchain"></div><br>
    <button onclick="chainCommands(commands); return false;">Run all Commands</button>
    <br><br>
    Output:<br><br>
    <div id="output"></div>
  </form>


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
